<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css" />
    <link
        href="https://fonts.googleapis.com/css?family=Rock+Salt"
        rel="stylesheet"
        type="text/css" />
    <title>DAG created!</title>
</head>
<body>
    <div class="container">
        {% if message %}
            <p class="message">{{ message | safe}}</p>
        {% endif %}

        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}

        <form action="/home" method="POST">
            <input type="submit" value="Create new request" class="btn" />
        </form>
    </div>
</body>
</html>